<configuration>

    <property name="pattern" value="%date{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%-25.25thread{24}] %-40.40logger{39}: %msg %throwable %n"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
     ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="CrawlerFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/CrawlerTest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 5 days' worth of history -->
            <maxHistory>5</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <logger name="at.rovo" level="info" />

    <logger name="at.rovo.crawler.STAR" level="trace"/>
    <logger name="at.rovo.crawler.RobotsCache" level="info"/>
    <logger name="at.rovo.crawler.RobotsCacheDispatcher" level="error"/>
    <logger name="at.rovo.crawler.util.IRLbotUtilsTest" level="info"/>

    <!-- Test classes -->
    <logger name="at.rovo.crawler.RobotsCacheTest" level="info"/>
    <logger name="at.rovo.crawler.STARTest" level="debug"/>

    <!-- DRUM classes -->
    <logger name="at.rovo.drum.util.DrumUtils" level="debug"/>
    <logger name="at.rovo.drum.utils.LogFileDispatcher" level="debug"/>
    <logger name="at.rovo.drum.datastore.simple.SimpleDataStore" level="trace"/>
    <logger name="at.rovo.drum.berkeley.BerkeleyDBStoreMerger" level="trace"/>

    <root level="info" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="CrawlerFile"/>
    </root>

</configuration>